.card-produto{
    display: grid;
    margin: auto;
    background-color: var(--cor-branca);
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
    gap: 3px;
    height: 500px;
    width: 220px;
}

.card-produto__container__imagem{
    display: flex;
    position: relative;
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
}

.card-produto__imagem{
    width: auto;
    height: auto;

    max-width: 200px;
    max-height: 200px;
}

.card-produto__fav{
    background-image: url('../imagens/icones/fav-verde.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 28px;;
    height: 28px;
    position: absolute;
    cursor: pointer;
    transition: .25s;
}

.card-produto__fav:hover{
    background-image: url('../imagens/icones/Fav-full-verde.svg');
}
.card-produto__fav:focus{
    background-image: url('../imagens/icones/Fav-full-verde.svg');
}

.card-produto__desconto{
    position: absolute;
    right: 0;
    text-align: center;
    font-family: var(--fonte-texto);
    background-color: var(--cor-verde-escuro);
    color: var(--cor-branca);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;

    font-size: 18px;
    font-weight: 500;
}

.card-produto__descricao{
    font-family: var(--fonte-texto);
    /* font-size: 20px; */
    font-weight: 600;
    color: var(--cor-preta);
    /* margin: 0 20px; */

    font-size: 16px;
    margin: 0 10px;
}

.card-produto__com-desconto{
    font-family: var(--fonte-texto);
    /* font-size: 32px; */
    font-weight: 800;
    color: var(--cor-preta);
    /* margin: 0 20px; */

    font-size: 24px;
    margin: 0 10px;
}

.card-produto__preco-original, .card-produto__parcelas{
    font-family: var(--fonte-texto);
    /* font-size: 20px; */
    font-weight: 600;
    color: var(--cor-preta);
    /* margin: 0 20px; */

    font-size: 16px;
    margin: 0 10px;
}
/* div para substituir o espço do preço originalq aundo o desconto for zero */
.div-substituicao-preco-desconto-zero{
    display: flex;
    margin: 0 20px;
    height: 100px;
}

.card-produto__avaliacao{
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin: 0px 10px;
    align-items: center;
    gap: 5px;
    
}

.avaliacao__quantidade{
    opacity: 0;
    visibility: hidden;
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    position: absolute;
    width: auto;
    font-family: var(--fonte-texto);
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap; /*Para impedir a quebra do texto*/
    top: 100%;
    font-size: 10px;
}

.card-produto__avaliacao:hover>.avaliacao__quantidade{
    opacity: 1;
    transition: .5s;
    visibility: visible;
    transition-delay: .5s;
}

.avaliacao__estrela__imagem{
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
}

.card-produto__preco-original{
    text-decoration: line-through;
}

.card-produto__botao-add-sacola{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-verde-escuro);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    width: auto;
    margin: 8px;
    padding: 8px 16px;
    border: 2px solid transparent;
}

.card-produto__botao-add-sacola:focus{
    border: 2px solid var(--cor-verde-escuro);
    background-color: var(--cor-verde-claro);
}

.card-produto__botao-add-sacola:hover{
    background-color: var(--cor-verde-claro);
    cursor: pointer;
}

.botao-add-sacola__texto{
    text-align: center;
    font-family: var(--fonte-texto);
    color: var(--cor-branca);
    font-weight: 600;
    font-size: 20px;
}

.card-produto__botao-add-sacola:hover>.botao-add-sacola__texto{
    color: var(--cor-verde-escuro);
}
.card-produto__botao-add-sacola:focus>.botao-add-sacola__texto{
    color: var(--cor-verde-escuro);
}

.botao-add-sacola__imagem{
    background-image: url('../imagens/icones/compras-branco.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 24px;;
    height: 24px;
}

.card-produto__botao-add-sacola:hover>.botao-add-sacola__imagem{
    background-image: url('../imagens/icones/compras-verde.svg');
}
.card-produto__botao-add-sacola:focus>.botao-add-sacola__imagem{
    background-image: url('../imagens/icones/compras-verde.svg');
}

@media screen and (max-width: 700px) {
    .card-produto{
        gap: 3px;
        height: 370px;
        width: 150px;
    }
    .card-produto__container__imagem{
        display: flex;
        position: relative;
        margin: 10px;
        max-width: 130px;
        max-height: 130px;
    }
    .card-produto__imagem{
        max-width: 130px;
        max-height: 130px;
    }
    .card-produto__fav{
        width: 20px;
        height: 20px;
    }
    .card-produto__desconto{
        font-size: 12px;
        font-weight: 500;
    }

    .card-produto__descricao{
        font-size: 14px;
    }
    
    .avaliacao__estrela__imagem{
        max-width: 15px;
        max-height: 15px;
    }
    .avaliacao__quantidade{
        font-size: 10px;
    }

    .card-produto__com-desconto{
        font-size: 18px;
        font-weight: 700;
    }
    
    .card-produto__preco-original, .card-produto__parcelas{
        font-size: 12px;
        font-weight: 600;
    }
    .botao-add-sacola__texto{
        font-size: 12px;
    }
    .botao-add-sacola__imagem{
        width: 16px;;
        height: 16px;
    }
}
