.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
}
.formulario__container-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center stretch;
    gap: 2rem;
}

.formulario__titulo{
    font-family: var(--fonte-texto);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-align: center;
    grid-column: span 4;
    margin: 3rem 0 4rem;
    color: var(--cor-verde-escuro);
}

.formulario__campo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    min-width: 0;
}

.formulario__campo__label{
    font-family: var(--fonte-texto);
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-verde-escuro);
}

.formulario__campo__input{
    border: 1px solid var(--cor-verde-escuro);
    border-radius: 10px;
    padding: 16px;
    color: var(--cor-verde-escuro);
    font-family: var(--fonte-texto);
    font-size: 16px;
    box-sizing: border-box;
}

.formulario__campo__input::placeholder{
    font-family: var(--fonte-texto);
    font-size: 16px;
    color: var(--cor-verde-escuro);
    opacity: 50%;
}

.formulario__campo__input:focus{
    outline-color: var(--cor-verde-escuro);
}

.formulario__campo__input:focus::-webkit-input-placeholder{ 
    color: transparent;
}

.mensagem-erro{
    height: 16px;
    font-size: 16px;
    font-family: var(--fonte-texto);
    color: var(--cor-error);
}
/* Para remover o botão de limpeza do campo */
input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.formulario__botao{
    background-color: var(--cor-verde-escuro);
    padding: 16px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-family: var(--fonte-texto);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-branca);
    transition: .5s;
}

.formulario__botao:hover{
    background-color: var(--cor-verde-claro);
    color: var(--cor-verde-escuro);
    cursor: pointer;
}

.formulario__observacao{
    text-align: justify;
    margin: 1rem 0;
    font-family: var(--fonte-texto);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-verde-escuro)
}

.formulario__texto-privacidade{
    color: var(--cor-verde-escuro);
}

@media screen and (max-width: 1028px) {
    .formulario{
        margin: 0 5rem;
    }
    .formulario__container-grid{
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, auto);
        gap: 1rem;
    }

    .formulario__titulo{
        font-size: 28px;
        margin: 3rem 0;
    }

    .formulario__campo__label{
        font-size: 20px;
        font-weight: 600;
    }
    .formulario__campo__input{
        font-size: 20px;
    }
    .formulario__campo__input::placeholder{
        font-size: 20px;
    }

    .formulario__observacao{
        margin: 2rem 0;
    }
}

@media screen and (max-width: 800px){
    .formulario{
        margin: 0 3rem;
    }
    .formulario__container-grid{
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, auto);
        gap: 1rem;
    }
    .formulario__titulo{
        font-size: 24px;
    }
}

@media screen and (max-width: 500px){
    .formulario{
        margin: 0 2rem;
    }
    .formulario__titulo{
        font-size: 20px;
    }

    .formulario__campo__label{
        font-size: 16px;
    }
    .formulario__campo__input{
        font-size: 16px;
    }
    .formulario__campo__input::placeholder{
        font-size: 16px;
    }
}