.cabecalho{
    display: flex;
    flex-direction: column;
}

.nav__desktop{
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem
}

.cabecalho__logo-pesquisa{
    display: flex;
    gap: 1rem;
}

.cabecalho__logo{
    display: block;
    background-image: url('../imagens/icones/logo_completa-verde.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 45px;
}

.cabecalho__menu-hamburguer{
    background-image: url('../imagens/icones/menu-verde.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 40px;
    border: none;
    display: none;
    cursor: pointer; 
}

.pesquisa__form__desktop{
    display: flex;
} 

.pesquisa__form__mobile{
    display: none;
}

.form__input{
    padding: .7rem;
    height: 3rem;
    border: 2px solid var(--cor-verde-escuro);
    border-radius: 32px 0px 0px 32px;
    font-size: 18px;
    font-family: var(--fonte-texto);
    padding: 20px;
    color: var(--cor-verde-escuro);
    background-color: transparent;
}
#search-desktop{
    width: 30vw;
}
#search-mobile{
    width: 100%;
}

.form__input::placeholder{
    color: var(--cor-verde-escuro);
}
.form__input:focus{ /*Para remover a 'borda' ao clicar no campo de pesquisa*/
    outline: 0;
}
.form__input:focus::-webkit-input-placeholder{ /*remover placeholder ao clicar no campo*/
    color: transparent;
}

input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.btn-pesquisar{
    background-image: url('../imagens/icones/lupa-branco.svg');
    background-size: 1.7rem;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: .5rem;
    background-color: var(--cor-verde-escuro); 
    border: none;
    cursor: pointer;
    width: 3rem;
    max-height: 3rem;
    border-radius: 0rem 2rem 2rem 0rem;
}

.cabecalho__opcoes{
    display: flex;
    gap: 1.5rem
}

.cabecalho__opcoes__item{
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 40px;
    transition: .5s;
}
#modo{
    background-image: url('../imagens/icones/dark-mode-verde.svg');
}
#usuario{
    background-image: url('../imagens/icones/user-verde.svg');
}
#favoritos{
    background-image: url('../imagens/icones/fav-verde.svg');
}
#sacola{
    background-image: url('../imagens/icones/compras-verde.svg');
}


/* MODO DARK */
body.dark .cabecalho__menu-hamburguer{
    background-image: url('../imagens/icones/menu-branco.svg');
}
body.dark .cabecalho__logo{
    background-image: url('../imagens/icones/logo_completa-branco.svg');
}

body.dark #modo{
    background-image: url('../imagens/icones/light-mode-branco.svg');
}
body.dark #usuario{
    background-image: url('../imagens/icones/user-branco.svg');
}
body.dark #favoritos{
    background-image: url('../imagens/icones/fav-branco.svg');
}
body.dark #sacola{
    background-image: url('../imagens/icones/compras-branco.svg');
}

body.dark .form__input{
    border: 2px solid var(--cor-branca);
    color: var(--cor-branca);
}
body.dark .form__input::placeholder{
    color: var(--cor-branca);
}
body.dark .form__input:focus{
    outline: 0;
}
body.dark .form__input:focus::-webkit-input-placeholder{
    color: transparent;
}
body.dark .btn-pesquisar{
    background-image: url('../imagens/icones/lupa-verde.svg');
    background-color: var(--cor-branca); 
}

@media screen and (max-width: 1028px) {
    .nav__desktop{
        margin: 1rem;
    }
}

@media screen and (max-width: 800px){
    .cabecalho__logo{
        margin-left: 1rem
    }

    .pesquisa__form__desktop{
        display: none;
    }

    .pesquisa__form__mobile{
        display: flex;
        margin: 0 1rem;
    }
    
    .cabecalho__logo-pesquisa{
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    .cabecalho__menu-hamburguer{
        display: block;  
    }
    .cabecalho__opcoes{
        gap: 1rem
    }
    #usuario{
        display: none;
    }
    
    /* .form__input.dark{
        border: 2px solid var(--cor-branca);
        color: var(--cor-branca);
    }
    .form__input.dark::placeholder{
        color: var(--cor-branca);
    }
    .form__input.dark:focus{
        outline: 0;
    }
    .form__input.dark:focus::-webkit-input-placeholder{
        color: transparent;
    }
    .btn-pesquisar.dark{
        background-image: url('../imagens/icones/lupa-verde.svg');
        background-color: var(--cor-branca); 
    } */
}

@media screen and (max-width: 600px){
    .cabecalho__opcoes{
        gap: .5rem
    }   
}
