.skincare, .infantil, .maquiagem, .masculino, .perfumaria{
    margin: 5rem auto 3rem;
}

.produtos__titulo__texto{
    font-family: var(--fonte-menu);
    font-size: 40px;
    font-weight: 700; 
    text-align: center;
    padding: 2rem 2rem 0;
    color: var(--cor-verde-escuro);
}

.produtos__titulo__texto::after{
    content: '';
    display: flex;
    margin: 2rem auto 0rem auto;
    height: 5px;
    width: 35%;
    background-color: var(--cor-verde-escuro);
}

.produtos__container__slider{
    display: flex;
    justify-content: center;
}

.slider__produtos{
    position: relative;
    margin: 2rem;
}

.slider__produtos:hover>.btn-prev, .slider__produtos:hover>.btn-next{
    opacity: .8;
}

.btn-prev, .btn-next{
    opacity: 0;
    position: absolute;
    top: 45%;
    background-color: var(--cor-verde-escuro);
    border: none;
    border-radius: 2.5rem;
    padding: .5rem 1.1rem;
    color: var(--cor-branca);
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: .5s;
    cursor: pointer;
}

.btn-next{
    right: 0;
}

.slider__produtos:hover>.btn-prev:hover, .slider__produtos:hover>.btn-next:hover{
    opacity: 1;
}

/* MODO DARK */
body.dark .produtos__titulo__texto{
    color: var(--cor-verde-claro);
}
body.dark .produtos__titulo__texto::after{
    background-color: var(--cor-verde-claro);
}

body.dark .btn-prev, body.dark .btn-next{
    background-color: var(--cor-branca);
    color: var(--cor-verde-escuro);
}


@media screen and (max-width: 1028px){
    .produtos__titulo__texto{
        font-size: 32px;
    }

    .produtos__container__slider{
        grid-template-columns: repeat(auto-fit, 220px);
        gap: 1rem;
    }

    .skincare, .infantil, .maquiagem, .masculino, .perfumaria{
        margin: 3rem 1rem;
    }
}

@media screen and (max-width: 750px){
    .produtos__titulo__texto{
        font-size: 32px;
    }

    .produtos__container__slider{
        grid-template-columns: repeat(3, 1fr);
    }

    .btn-prev, .btn-next{
        border-radius: 2.5rem;
        padding: .4rem 0.8rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px){
    .produtos__titulo__texto{
        font-size: 20px;
    }

    .produtos__container__slider{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
    }

    .slider__produtos:hover>.btn-prev{
        opacity: 0;
    }
    .slider__produtos:hover>.btn-next{
        opacity: 0;
    }

    .slider__produtos{
        margin: 1rem;
    }
}



