.skincare, .infantil, .maquiagem, .masculino, .perfumaria{
    margin: 5rem auto 3rem;
}

.produtos__titulo__texto{
    font-family: var(--fonte-menu);
    font-size: 48px;
    font-weight: 700; 
    text-align: center;
    padding: 2rem 2rem 0;
    color: var(--cor-verde-escuro);
    text-shadow: 2px 2px 4px var(--cor-verde-claro);
}

.produtos__titulo__texto::after{
    content: '';
    display: flex;
    margin: 2rem auto 0rem auto;
    height: 5px;
    width: 35%;
    background-color: var(--cor-verde-escuro);
}

.produtos__container__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(auto-fit, 300px); */
    width: auto;
    margin: 2rem;
    gap: 1rem;
}

@media screen and (max-width: 1028px){
    .produtos__titulo__texto{
        font-size: 40px;
    }

    .produtos__container__grid{
        grid-template-columns: repeat(auto-fit, 220px);
        gap: 1rem;
    }

    .skincare, .infantil, .maquiagem, .masculino, .perfumaria{
        margin: 3rem 1rem;
    }
}

@media screen and (max-width: 750px){
    .produtos__titulo__texto{
        font-size: 32px;
    }

    .produtos__container__grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 500px){
    .produtos__titulo__texto{
        font-size: 24px;
    }

    .produtos__container__grid{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
    }

    .skincare, .infantil, .maquiagem, .masculino, .perfumaria{
        margin: 2rem 1rem;
    }
}



